/* 풀 페이지 스크롤 css */

.SectionContainer{
  width: 100%;
  position: relative;
}

/* 스크롤 애니메이션 요소  css */
.Section .introduce-image1{
width: 100vw;
height: 100vh;
/* margin-top: 50px; */
background-image: url(/src/img/introduce_img1.png);
background-size: cover; 
position: absolute;
max-width: 100%;
background-repeat :no-repeat;
}

.Section .introduce-image2{
width: 100%;
height: 100vh;
/* margin-top: 50px; */
background-image: url(/src/img/introduce_img2.png);
background-size: cover; 
position: absolute;
max-width: 100%;
background-repeat :no-repeat;
}

.Section .introduce-image3{
width: 100%;
height: 100vh;
/* margin-top: 50px; */
background-image: url(/src/img/introduce_img3.png);
background-size: cover;
position: absolute;
max-width: 100%;
background-repeat :no-repeat;
}

.Section .introduce-text1, .Section .introduce-text2, .Section .introduce-text3 {
z-index: -999;
position: absolute; /* 핵심코드 */
top: 50%; /* 핵심코드 */
left: 50%; /* 핵심코드 */
transform: translate( -50%, -50%); /* 핵심코드 */
font-size: 30px;
}